<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="title-container">
            <h1><%= title %></h1>
            <div class="about-container">
                <p>Odin Project NodeJS Course Project #3</p>
                <p>A program by <a href="https://github.com/mizakson">Mizakson</a></p>
            </div>
        </div>
        <div class="content">
            <div class="leagues-btns">
                <button><a href="/add-league">Add League</a></button>
            </div>
            <div class="leagues">
                <% for (const prop in leagues) {%> 
                    <ul><%= leagues[prop]["league_name"]%> -- <%= leagues[prop]["country"] %></ul>
                    <div class="league-options">
                        <button><a href="/league/<%= leagues[prop]["league_id"] %>">View League</a></button>
                        <button><a href="/update-league/<%= leagues[prop]["league_id"] %>">Update League</a></button>
                        <button><a href="/league/add-team/<%= leagues[prop]["league_id"] %>">Add Team</a></button>
                        <button><a href="/delete-league/<%= leagues[prop]["league_id"] %>">Delete League</a></button>
                    </div>
                <%} %>
            </div>

        </div>
            
    </body>
</html>