<html>
    <head>
        <title><%= host %></title>
    </head>
    <body>
            <p>USER: <%= user %></p>
            <p>PW: <%= password %></p>
            <p>PORT: <%= port %></p>
            <p>DB: <%= database %></p>
    </body>
</html>