<!DOCTYPE html>
<html>
    <head>
        <title>Players</title>
    </head>
    <body>
        <h1>Players</h1>
        <div class="info">
            <button><a href="/player/add/<%= teamId %>">Add Player</a></button>
            <% for (const prop in players) {%> 
                <ul>Name: <%= players[prop]["player_name"]%> -- Position: <%= players[prop]["position"] %> </ul>
                <div class="options">
                    <button><a href="/player/update/<%= players[prop]["player_id"] %>">Update Player</a></button>
                    <button><a href="/player/delete/<%= players[prop]["player_id"] %>">Delete Player</a></button>
                </div>
            <%} %>
        </div>
        <div class="back">
            <button><a href="/">Go Home</a></button>
        </div>

    </body>
</html>