<!DOCTYPE html>
<html>
    <head>
        <title>Teams</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Teams</h1>
        <div class="teams">
            <% for (const prop in teams) {%> 
                <div class="team">
                    <div class="team-info"><ul><%= teams[prop]["team_name"]%></ul></div>
                    <div class="team-options">
                        <button><a href="/team/<%= teams[prop]["team_id"] %>">View Team</a></button>
                        <button><a href="/team/update/<%= teams[prop]["team_id"] %>">Update Team</a></button>
                        <button><a href="/player/add/<%= teams[prop]["team_id"] %>">Add Player</a></button>
                        <button><a href="/team/delete/<%= teams[prop]["team_id"] %>">Delete Team</a></button>
                    </div>
                </div>
            <%} %>
        </div>
        <div class="back">
            <button><a href="/">Go Home</a></button>
        </div>

    </body>
</html>