<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <div class="form-container">
            <form action="/update-league/<%= leagueId %>" method="post">
                <label for="leagueName">Name: </label>
                <input type="text" name="leagueName" id="leagueName" value="<%= name %>">
                
                <label for="country">Country: </label>
                <input type="text" name="country" id="country" value="<%= country %>">

                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>